{% extends 'Base.html' %}

{% block head %}
    <link rel="stylesheet" type=text/css href= " {{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1 style="color:gray"> Projetinho de site com login integrado </h1>
        <h2 style="color:gray"> O começo de uma <strong class="brilha"> ERA </strong> está a surgir </h2>
        <h1> Posts: </h1>
    <hr/>
        {% for post in posts %}
            <div class="row border p-3 meupost">
                <div class="col-3">
                    <div class="image p-1">  <img src=" static/fotos_perfil/{{ post.autor.foto_perfil }} " class="rounded" width="200" >  </div>
                        <strong class="username"> {{post.autor.username}} </strong>
                            <div class="row col-10 justify-content-center">
                                <br>
                                {% for curso in post.autor.cursos.split(';') %}
                                    {% if ';' not in post.autor.cursos or post.autor.cursos == 'Não informado'%}
                                        <button type="button" class="btn btn-success mt-2">  Sem cursos informados! </button>
                                    {% else %}
                                        <button type="button" class="btn btn-success mt-2"> {{curso}} </button>
                                    {% endif %}
                                {% endfor %}
                            </div>
                </div>
                <div class="col-9 mt-5">
                    <a href="{{url_for('exibir_post', post_id = post.id)}}" style="text-decoration: none"> <h3> {{post.titulo}} </h3> </a>
                    <p> {{post.corpo}} </p>
                     {% for com in coms %}
                        <div class="row">
                            {{post.autor.username}}: <br>
                            {{com.corpo}} </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}