{% extends 'Base.html' %}

{% block body %}
<div class="container mt-3">
    <h1> Faça login ou crie sua conta para continuar </h1>
    <hr/>
    <div class="row">
        <div class="col-6">
            <form method="POST" action="" class="border p-4 mt-2">
                {{ formlogin.csrf_token }}
                <fieldset>
                    <legend> Login </legend>
                    <div class="form-group">
                        {{ formlogin.email.label(class="form-control-label") }}
                        {% if formlogin.email.errors %}
                            {{ formlogin.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in formlogin.email.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ formlogin.email(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ formlogin.senha.label(class="form-control-label") }}
                        {% if formlogin.senha.errors %}
                            {{ formlogin.senha(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in formlogin.senha.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ formlogin.senha(class="form-control") }}
                        {% endif %}
                    </div>
                    <br/>
                    <div class="form-group"> <a href="{{ url_for('trocar_senha') }}">
                        {{ formlogin.esqueci.label(class="form-check-label") }} </a>
                    </div>
                    <br/>
                    <div class="form-group">
                        {{ formlogin.lembrar_dados.label(class="form-check-label") }}
                        {{ formlogin.lembrar_dados(class="form-check-input") }}
                    </div>
                </fieldset>
                {{ formlogin.botao_submit_login (class="btn btn-primary mt-2")}}
            </form>
        </div>
        <div class="col-6">
            <form method="POST" action="" class="border p-4 mt-2">
                {{ formcriarconta.csrf_token }}
                <fieldset>
                    <legend> Criar conta </legend>
                    <div class="form-group">
                        {{ formcriarconta.username.label(class="form-control-label") }}
                        {% if formcriarconta.username.errors %}
                            {{ formcriarconta.username(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in formcriarconta.username.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ formcriarconta.username(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ formcriarconta.email.label(class="form-control-label") }}
                        {% if formcriarconta.email.errors %}
                            {{ formcriarconta.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in formcriarconta.email.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ formcriarconta.email(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ formcriarconta.senha.label(class="form-control-label") }}
                        {% if formcriarconta.senha.errors %}
                            {{ formcriarconta.senha(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in formcriarconta.senha.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ formcriarconta.senha(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ formcriarconta.confirmacao.label(class="form-control-label") }}
                        {% if formcriarconta.confirmacao.errors %}
                            {{ formcriarconta.confirmacao(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in formcriarconta.confirmacao.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ formcriarconta.confirmacao(class="form-control") }}
                        {% endif %}
                    </div>
                </fieldset>
                {{ formcriarconta.botao_submit_criarconta (class="btn btn-primary mt-2")}}
            </form>
        </div>
    </div>
</div>

{% endblock %}