.card{ width: 400px; border: none; border-radius: 10px; background-color: #fff; }
.stats{  background: #f2f5f8 !important;  color: #000 !important; }
.articles{ font-size:10px; color: #a1aab9; }
.number1{ font-weight:500; }
.followers{ font-size:10px; color: #a1aab9; }
.number2{ font-weight:500; }
.rating{ font-size:10px; color: #a1aab9; }
.number3{ font-weight:500; }
.meupost { background-color: #f2f5f8 }

.username { color: blue; margin-left: 20%}

.comentario_b { margin-left: 50%}

.excluir:hover { color: red; font-size:18px }
.editar:hover { color: orange; font-size:18px }

.brilha:hover { animation: animated 10s infinite alternate }

@keyframes animated{  0%   {color: red; font-size: 25px}  10%   {color: lime; font-size: 30px}  20%   {color: blue; font-size: 40px}  30%   {color: magenta; font-size: 35px}  40%   {color: purple; font-size: 30px}  50%   {color: turquoise; font-size: 27.5px}  60%   {color: yellow; font-size: 25px}  70%   {color: green; font-size: 27.5px}  80%   {color: blue; font-size: 30px}  90%   {color: purple; font-size: 27.5px}  100%   {color: aquamarine; font-size: 25px}}