{% extends 'Base.html' %}

{% block body %}
 <div class="container mt-3">
    <div class="row">
        <div class="col">
            <form method="POST" action="" class="border p-4 mt-2" enctype="multipart/form-data">  <!-- Sempre que tiver um form que sobe um arquivo, tu precisa no form, um outro parâmetro [(enctype="multipart/form-data") => (sem ele os files não funcionam)]-->
                {{ formcriarpost.csrf_token }}
                <fieldset>
                    <legend style="text-align:center"> Criar Post </legend>
                        <hr/>
                    <div class="form-group ">
                        {{ formcriarpost.titulo.label(class="formcriarpost-control-label") }}
                        {% if formcriarpost.titulo.errors %}
                            {{ formcriarpost.titulo(class="formcriarpost-control is-invalid" ) }}
                        <div class="invalid-deefback">
                            {% for erro in formcriarpost.titulo.errors %}
                                {{erro}}
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ formcriarpost.titulo(class="form-control" ) }}
                        {% endif %}
                    </div>
                    <div class="form-group ">
                        {{ formcriarpost.corpo.label(class="formcriarpost-control-label") }}
                        {% if formcriarpost.corpo.errors %}
                            {{ formcriarpost.corpo(class="formcriarpost-control is-invalid" ) }}
                        <div class="invalid-deefback">
                            {% for erro in formcriarpost.corpo.errors %}
                                {{erro}}
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ formcriarpost.corpo(class="form-control" ) }}
                        {% endif %}
                    </div>
                </fieldset>
                {{ formcriarpost.botao_submit_post(class="btn btn-primary mt-2" ) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}